Repository airqo-platform/AirQo-api, pull requests merged in 2021-08, with the labels that each got.

#502 correct the query param spelling during validation
  src/device-registry/models/Device.js
  src/device-registry/routes/api-v1.js
  src/device-registry/routes/api-v2.js
Labels: device-registry, hotfix, ready for review, site-registry

#505 remove the uniques constraints on candidates
  src/auth-service/models/Candidate.js
Labels: authentication-service, ready for review

#506 staging to production
  src/auth-service/models/Candidate.js
Labels: ready for review

#508 Hotfix some validations
  src/device-registry/controllers/create-device.js
  src/device-registry/controllers/create-event.js
  src/device-registry/controllers/create-site.js
  src/device-registry/models/Site.js
  src/device-registry/package-lock.json
  src/device-registry/package.json
  src/device-registry/routes/api-v1.js
  src/device-registry/routes/api-v2.js
  src/device-registry/utils/create-device.js
  src/device-registry/utils/create-site.js
  src/device-registry/utils/generate-filter.js
  src/device-registry/utils/get-device-details.js
  src/device-registry/utils/get-measurements.js
  src/device-registry/utils/manipulate-arrays.js
Labels: ready for review, device-registry, events

#512 remove location and site registry code
  src/location-registry/Jenkinsfile
  src/site-registry/.gitignore
  src/site-registry/Dockerfile
  src/site-registry/Dockerfile.stage
  src/site-registry/Jenkinsfile
  src/site-registry/README.md
  src/site-registry/app.py
  src/site-registry/app.yaml
  src/site-registry/bin/start.sh
  src/site-registry/config.py
  src/site-registry/config/constants.py
  src/site-registry/config/db_connection.py
  src/site-registry/controllers/__init__.py
  src/site-registry/controllers/controller.py
  src/site-registry/helpers/.gitkeep
  src/site-registry/helpers/__init__.py
  src/site-registry/helpers/helper.py
  src/site-registry/jobs/.gitkeep
  src/site-registry/models/.gitkeep
  src/site-registry/models/__init__.py
  src/site-registry/models/location.py
  src/site-registry/requirements.txt
  src/site-registry/requirements/common.txt
  src/site-registry/requirements/dev.txt
  src/site-registry/requirements/prod.txt
  src/site-registry/routes/api.py
Labels: chore, ready for review

#513 merge staging into production
  src/device-registry/controllers/create-device.js
  src/device-registry/controllers/create-event.js
  src/device-registry/controllers/create-site.js
  src/device-registry/models/Site.js
  src/device-registry/package-lock.json
  src/device-registry/package.json
  src/device-registry/routes/api-v1.js
  src/device-registry/routes/api-v2.js
  src/device-registry/utils/create-device.js
  src/device-registry/utils/create-site.js
  src/device-registry/utils/generate-filter.js
  src/device-registry/utils/get-device-details.js
  src/device-registry/utils/get-measurements.js
  src/device-registry/utils/manipulate-arrays.js
  src/location-registry/Jenkinsfile
  src/site-registry/.gitignore
  src/site-registry/Dockerfile
  src/site-registry/Dockerfile.stage
  src/site-registry/Jenkinsfile
  src/site-registry/README.md
  src/site-registry/app.py
  src/site-registry/app.yaml
  src/site-registry/bin/start.sh
  src/site-registry/config.py
  src/site-registry/config/constants.py
  src/site-registry/config/db_connection.py
  src/site-registry/controllers/__init__.py
  src/site-registry/controllers/controller.py
  src/site-registry/helpers/.gitkeep
  src/site-registry/helpers/__init__.py
  src/site-registry/helpers/helper.py
  src/site-registry/jobs/.gitkeep
  src/site-registry/models/.gitkeep
  src/site-registry/models/__init__.py
  src/site-registry/models/location.py
  src/site-registry/requirements.txt
  src/site-registry/requirements/common.txt
  src/site-registry/requirements/dev.txt
  src/site-registry/requirements/prod.txt
  src/site-registry/routes/api.py
Labels: ready for review

#488 Predict env separation
  src/predict/app.py
  src/predict/config.py
  src/predict/config/constants.py
  src/predict/controllers/prediction.py
  src/predict/gcp_helpers/cloud_function.py
  src/predict/helpers/utils.py
  src/predict/requirements.txt
  src/predict/saved_model/saved_model.pb
  src/predict/saved_model/variables/variables.data-00000-of-00001
  src/predict/saved_model/variables/variables.index
Labels: ready for review

#503 Update calibrate api
  src/calibrate/controllers/calibrate.py
  src/calibrate/jobs/regression.py
  src/calibrate/models/calibrate.py
  src/calibrate/models/regression.py
  src/calibrate/requirements.txt
Labels: ready for review

#516 address deployment date concerns
  src/device-registry/models/Device.js
  src/device-registry/utils/site-activities.js
Labels: hotfix, ready for review, device-registry

#518 send emails to some addresses whenever anyone requests for data access
  src/auth-service/config/constants.js
  src/auth-service/services/mailer.js
Labels: ready for review, authentication-service

#514 missing devices
  src/data-mgt/python/devices-tranformation/Readme.md
  src/data-mgt/python/devices-tranformation/main.py
  src/data-mgt/python/devices-tranformation/requirements.txt
  src/data-mgt/python/devices-tranformation/transformation.py
Labels: Ready for merge, ready for review

#509 create an airqloud
  src/device-registry/controllers/create-airqloud.js
  src/device-registry/controllers/create-device.js
  src/device-registry/models/Airqloud.js
  src/device-registry/models/Site.js
  src/device-registry/routes/api-v1.js
  src/device-registry/routes/api-v2.js
  src/device-registry/utils/create-airqloud.js
  src/device-registry/utils/create-device.js
  src/device-registry/utils/errors.js
  src/device-registry/utils/generate-filter.js
Labels: ready for review, device-registry, airqloud

#525 verify tokens endpoint
  src/auth-service/controllers/join.js
  src/auth-service/routes/api.js
Labels: ready for review, feature-request, authentication-service

#524 remove authentication from the forgot password endpoint
  src/auth-service/routes/api.js
Labels: hotfix, ready for review, authentication-service

#507 Gp model kawempe
  src/gp-model/.gitignore
  src/gp-model/Dockerfile.dev
  src/gp-model/helpers/__init__.py
  src/gp-model/helpers/get_data.py
  src/gp-model/main.py
Labels: ready for review

#515 Kawempe heatmap data
  src/predict/config/constants.py
  src/predict/controllers/prediction.py
  src/predict/helpers/utils.py
Labels: ready for review

#535 send email notifications to stakeholders on candidate confirmation
  src/auth-service/controllers/request.js
  src/auth-service/models/User.js
  src/auth-service/services/mailer.js
  src/auth-service/utils/join.js
  src/auth-service/utils/request.js
Labels: enhancement, ready for review, authentication-service

#532 intrducing the device status field
  src/device-registry/models/Device.js
  src/device-registry/routes/api-v1.js
  src/device-registry/routes/api-v2.js
Labels: enhancement, ready for review, device-registry

#531 remove double email notifs during forgot password process
  src/auth-service/utils/join.js
Labels: hotfix, ready for review, authentication-service

#530 a little addition to the welcome email for data requests
  src/auth-service/utils/email.msgs.js
Labels: enhancement, ready for review

#527 Missing devices
  src/data-mgt/python/devices-tranformation/.gitignore
  src/data-mgt/python/devices-tranformation/Readme.md
  src/data-mgt/python/devices-tranformation/airqoApi.py
  src/data-mgt/python/devices-tranformation/main.py
  src/data-mgt/python/devices-tranformation/transformation.py
  src/data-mgt/python/devices-tranformation/utils.py
Labels: ready for review

#541 uniform error responses for the create site use-case
  src/device-registry/controllers/create-site.js
  src/device-registry/models/Site.js
  src/device-registry/routes/api-v1.js
  src/device-registry/routes/api-v2.js
  src/device-registry/utils/create-site.js
Labels: ready for review

#539 [Analytics] remove average outliers
  src/analytics/api/models/events.py
Labels: ready for review

#536 hotfix GET specific AirQloud details
  src/device-registry/models/Airqloud.js
  src/device-registry/routes/api-v1.js
  src/device-registry/routes/api-v2.js
  src/device-registry/utils/create-airqloud.js
  src/device-registry/utils/create-site.js
  src/device-registry/utils/generate-filter.js
Labels: hotfix, ready for review, airqloud

#520 QA tests for Events addition and querying on the v1 endpoints.
  src/device-registry/controllers/create-event.js
  src/device-registry/routes/api-v1.js
  src/device-registry/utils/generate-filter.js
Labels: hotfix, ready for review, device-registry, events

#556 remove some backend validations
  src/device-registry/models/Device.js
  src/device-registry/routes/api-v1.js
  src/device-registry/routes/api-v2.js
  src/device-registry/utils/site-activities.js
Labels: ready for review, device-registry
