Repository airqo-platform/AirQo-api, pull requests merged in 2022-01, with the labels that each got.

#702 [gp-model] change data representation
  src/gp-model/main.py
Labels: ready for review, gp-model-microservice

#553 Heatmap all aqs
  src/predict/.dockerignore
  src/predict/Dockerfile
  src/predict/config/constants.py
  src/predict/controllers/prediction.py
  src/predict/helpers/utils.py
  src/predict/models/predict.py
  src/predict/routes/api.py
Labels: ready for review, predict, priority-high

#705 fix - path to average jobs yaml files
  .github/workflows/deploy-apis-to-production.yml
  .github/workflows/deploy-apis-to-staging.yml
Labels: Ready for merge, ready for review

#708 [Analytics] D3 data endpoint enhancement
  src/analytics/api/models/base/model_operations.py
  src/analytics/api/models/events.py
  src/analytics/api/utils/pollutants/__init__.py
  src/analytics/api/utils/pollutants/charts.py
  src/analytics/api/views/dashboard.py
Labels: ready for review
